interpreter/macos/tui.xcodeproj/project.xcworkspace/xcuserdata
interpreter/macos/tui.xcodeproj/xcuserdata
.DS_Store
interpreter/cmake/build
interpreter/cmake/bin
interpreter/cmake/tui
interpreter/windows/tui/tui
interpreter/windows/tui/x64
examples/examples
.build
DerivedData
.vscode
xcuserdata/
.vs
*.vcxproj.user
*.exe
*.pdb